SPRINT_SMS_URL=https://api.sprintsmsservice.com/api/SendSMS
SPRINT_SMS_API_ID=
SPRINT_SMS_API_PASSWORD=
SPRINT_SMS_SENDER_ID=BLUETICK
SPRINT_SMS_TIMEOUT=15

ADMIN_SEED_NAME="Nicholaus Ngolongolo"
ADMIN_SEED_EMAIL=nicholausngolongolo@gmail.com
ADMIN_SEED_PASSWORD=
